body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Light', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, serif;
    font-weight: 300;
    line-height: 22px;
    font-size: 12px;
    color: #000;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', 'Helvetica Light', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, serif;
    font-weight: 300;
    font-weight: normal;
    margin: 0 0 15px 0;
    padding: 0;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 210%;
}

h3 {
    font-size: 130%;
}

p {
    margin: 0 0 10px 0;
}

ul {
    margin: 0;
    list-style-type: square;
}

a {
    color: #222;
}
/* ________________________________________________________ */
.rtl {
    direction: rtl;
}

.clear {
    clear: both;
}

#main {
    background: #fff;
    width: 900px;
    padding: 35px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    box-shadow: 0 0 6px #ccc;
}

#title {
    line-height: 32px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin: 0px 0 20px 0;
    font-weight: 600;
}

#credit {
    margin-bottom: 20px;
    font-size: 11px;
    color: #999;
    text-align: center;
}

    #credit a {
        color: #999;
    }

p label {
    font-size: 110%;
    margin-right: 10px;
}

    p label span.colon {
        display: inline;
    }

.section {
    margin-bottom: 25px;
    border-bottom: 1px solid #D3D3D3;
}

    .section .set {
    }

.item {
    margin: 0 0 20px 0;
}

/*  _____________________________ */
.section .title {
    text-transform: uppercase;
    font-size: 140%;
    margin: 0 auto 15px auto;
    display: block;
    font-weight: 600;
}



.resume-title {
    font-size: 350%;
}

.section .set {
    margin-left: 25px;
}

    .section .set h3 {
        margin: 0;
    }

.basic-info {
    border-top: 0;
    padding-bottom: 10px;
}

.section.basic-info .title {
    float: left;
    border: 0;
}

.basic-info .set {
    float: right;
    width: 70%;
}

.basic-info .address {
    width: 40%;
    float: left;
}

.basic-info .r {
    float: right;
    width: 60%;
    text-align: right;
}

.basic-info label {
    font-family: 'Open Sans', 'Helvetica Light', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, serif;
    font-weight: 300;
}

.basic-info label, .basic-info span {
    display: inline !important;
}

.basic-info p {
    margin: 0;
}

.section span.value {
    display: block;
}

.section h3 span.l, .section span.r {
    width: 49%;
    float: left;
}

.section span.r {
    float: right;
    text-align: right;
}

.section-education .school,
.section-work .job_title {
    font-size: 100%;
    display: block;
    margin: 5px 0 5px 0;
}

#photo {
    width: 160px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-top: 4px;
    border-radius: 4px;
}

    #photo img {
        width: 100%;
        height: auto;
    }

.header.photo {
    margin-left: 190px;
}

    .header.photo #title {
        text-align: left;
    }

    .header.photo .basic-info {
        float: none;
        padding: 0;
    }

.company {
    font-weight: 600;
}

@media screen and (max-width: 950px) {
    body {
        background: #fff;
    }

    #main {
        box-shadow: none;
        padding: 0;
        padding: 5px;
    }
}


@media only screen and (max-device-width: 480px){
    .section .title {
        text-align: center;
    }
        

    .basic-info {
        border-top: 0;
        padding-bottom: 10px;
    }
    
    .section.basic-info .title {
       text-align: center;
       float: none;
    }
    
    .basic-info .set {
        /* float: right; */
        /* width: 70%; */
        text-align: center;
        width: 100%;
    }
   
 
    .basic-info  .set {
        text-align: center;
        float: none;
    }
    
    .basic-info .section .address {
            display: block;
            float: none;
            text-align: center;
            width: 100%;
    }

    .basic-info .address {
        text-align: center;
        width: 100%;
        float: none;
    }
    .basic-info .address .value br {
        display: none;
    }
    
    .basic-info .r{
        display: block;
        float: none;
        width: 100%;
    }
    .basic-info .set .r p {
        text-align: center;
    }


    .section .set {
        margin-left: 0px;
    }
    
    #main{
        padding: 10px 20px;
    }
}